.hidden-spacer {
    height: 56px
}

.home-image{
    height:1000px;
    background-image:url('./underConstruction.jpg');
    background-size:cover;
}

.navbar{
    background-color:black; /*whichever you want*/
    opacity: 0.6; 
    filter:(opacity=60);  
}

.topnav-right {
    float: right;
  }